<widget id="com.recordself.client.cordova" version="0.0.1">
    <name>RecordSelf</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
	<access origin="*" />
</widget>
